body {
  background: deepskyblue;
  margin: 0;
  padding: 0;
}
.container {
  width: 500px;
  height: 400px;
  background: #ff0;
  box-shadow: 0 20px 40px -20px rgba(0,0,0,.2);
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.btn {
    position: absolute;
    padding: 15px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
    border: 2px solid transparent;
    cursor: pointer;
    background: none;
}
/*    shadow for text in btn*/
.btn:hover {
    -webkit-text-shadow: 2px 2px 80px;
    -moz-text-shadow: 2px 2px 80px;
    -o-text-shadow: 2px 2px 80px;
    text-shadow: 2px 2px 80px;
}
.container .right {
  position: absolute;
  top: 0;
  right: 130%;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.2);
  transition: all .3s  ease;
  transform: skewX(25deg) scale(1.5);
  margin: 0;
  padding: 0;
}
.container .left {
  position: absolute;
  top: 0;
  left: 130%;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.2);
  transform: skewX(25deg) scale(1.5);
  transition: all .3s  ease .3s;
  margin: 0;
  padding: 0;
}
.container .top {
  position: absolute;
  top: 190%;
  left: -40%;
  right: 0;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.2);
  transform: skewX(25deg) scale(1.5) rotate(114deg);
  transition: all .3s  ease .6s;
  margin: 0;
  padding: 0;
}
.container .bottom {
  position: absolute;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.2);
  transform: skewX(25deg) scale(1.5) rotate(114deg);
  bottom: 185%;
  left: -45%;
  transition: all .3s ease .9s;
  margin: 0;
  padding: 0;
}
.container:hover .right{
  right: 0;
  transform: skewX(0deg);
  margin: 0;
  padding: 0;
}
.container:hover .left{
  left: 0;
  transform: skewX(0deg);
  margin: 0;
  padding: 0;
}
.container:hover .top{
  left: -45%;
  top: 56%;
  transform: skewX(0deg) rotate(90deg);
  margin: 0;
  padding: 0;
}
.container:hover .bottom {
  bottom: 50%;
  transform: skewX(0deg) scale(1) rotate(90deg);
  margin: 0;
  padding: 0;
}
.container .top-2 {
  position: absolute;
  top: 190%;
  left: 45%;
  right: 0;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.2);
  transform: skewX(25deg) scale(1.5) rotate(114deg);
  transition: all .3s  ease .6s;
  margin: 0;
  padding: 0;
}
.container .bottom-2 {
  position: absolute;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.2);
  transform: skewX(25deg) scale(1.5) rotate(114deg);
  bottom: 185%;
  left: 45%;
  transition: all .3s ease .9s;
  margin: 0;
  padding: 0;
}
.container:hover .top-2{
  left: 45%;
  top: 56%;
  transform: skewX(0deg) rotate(90deg);
  margin: 0;
  padding: 0;
}
.container:hover .bottom-2 {
  bottom: 50%;
  transform: skewX(0deg) scale(1) rotate(90deg);
  margin: 0;
  padding: 0;
}
.container .right-2 {
  position: absolute;
  bottom: 0;
  right: 130%;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.2);
  transition: all .3s  ease;
  transform: skewX(25deg) scale(1.5);
  margin: 0;
  padding: 0;
}
.container .left-2 {
  position: absolute;
  bottom: 0;
  left: 130%;
  width: 100%;
  height: 50px;
  background: rgba(0,0,0,.2);
  transform: skewX(25deg) scale(1.5);
  transition: all .3s  ease .3s;
  margin: 0;
  padding: 0;
}
.container:hover .right-2{
  right: 0;
  transform: skewX(0deg);
  margin: 0;
  padding: 0;
}
.container:hover .left-2{
  left: 0;
  transform: skewX(0deg);
  margin: 0;
  padding: 0;
}
.btn-download {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
  border-radius: 0px;
  overflow: hidden;
  transition: all .5s ease;
}
.btn-download .new {
  position: absolute;
  width :100%;
  height: 100%;
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  top: 0;
  right: 110%;
  transform: skewX(25deg);
  transition: all .5s ease;
  z-index: -1;
 
}
.btn-download:hover {
  color: #fff;
}
.btn-download:hover .new {
  color: white;
  right: 0;
  transform: skewX(0deg);
}