body {
    background-color: deepskyblue;
}
.container {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 20px 40px -20px rgba(0,0,0,0.2);
    overflow: hidden;
}
.container h1 {
    text-align: center;
    font-size: 5em;
}
/*    style for top*/
.container .top {
    width: 0%;
    height: 8px;
    position: absolute;
    bottom: 96%;
    background-color: dodgerblue;
    transition: all .3s ease;
}
.container:hover .top {
    width: 100%;
}
/*    style for right*/
.container .right {
    width: 8px;
    height: 100%;
    background: dodgerblue;
    position: absolute;
    bottom: 100%;
    left: 97.5%;
    transition: all .4s ease-in-out;
    transition-delay: .3s;
}
.container:hover .right {
    bottom: 0;
}
/*    style for bottom*/
.container .bottom {
    width: 100%;
    height: 8px;
    background-color: dodgerblue;
    position: absolute;
    bottom: 0%;
    left: 100%;
    transition: all .3s ease-in-out;
    transition-delay: .9s; 
    
}
.container:hover .bottom {
    left: 0;
}
/*    style for left*/
.container .left {
    width: 8px;
    height: 100%;
    background-color: dodgerblue;
    position: absolute;
    top: 100%;
    transition: all .3s ease-in-out;
    transition-delay: 1.2s; 
    
}
.container:hover .left {
    top: 0%;
}

/*
h1::selection {
    color: white;
    background: black;
}
*/
h1::selection {
    color: green;
    background: #ff0;
}