body{
    background-color: blueviolet;
}
.container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 20px 40px -20px rgba(0,0,0,0.2);
    overflow: hidden;
}
.container img {
    transition: all .3s ease;
}
.container:hover img {
    transform: scale(1.4) rotate(20deg);
}
.conter {
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 100%;
    background: rgba(0,0,0,0.8);
    transition:  all .5s ease;
}
.container:hover .conter {
    bottom: 0%;
}
.text {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #1eb1fc;
    color: #fff;
    position: absolute;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    transition: all .5s ease;
    left: 100%;
    bottom: 0%;
}
.container:hover .text {
    left: 0;
}