body {
    margin: 0;
    background: #acb2c8;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 400px;
    background: #eee;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 20px 40px -20px #8697b3;
}
.container > h2 {
    text-align: center;
    color: #4a4a4a;
    padding-top: 50px;
}
.container > .text-carousel-right {
    width: 350px;
    height: 200px;
    background: white;
    box-shadow: 0 20px 40px -20px rgba(0,0,0,.3);
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}
.container > .text-carousel-right > .header,
.container > .text-carousel-left > .header{
    width: 100%;
    height: 100px;
    position: relative;
/*    background: black;*/
}
.container > .text-carousel-right > .header > .header-image,
.container > .text-carousel-left > .header > .header-image{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: tomato;
    box-shadow: 0px 20px 40px -20px tomato;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
}
.container > .text-carousel-right > .header > .header-text,
.container > .text-carousel-left > .header > .header-text{
    width: 60%;
    height: 50px;
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-55%, -50%);
}
.container > .text-carousel-right > .header > .header-text > h3,
.container > .text-carousel-left > .header > .header-text > h3{
    color: #262626;
}
.container > .text-carousel-right > .header > .header-text > p,
.container > .text-carousel-left > .header > .header-text > p{
    color: #727272;
}
.container > .text-carousel-right > .text ,
.container > .text-carousel-left > .text {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.container > .text-carousel-right > .text > p,
.container > .text-carousel-left > .text > p{
    color: #727272;
}
.container > .text-carousel-left {
    width: 350px;
    height: 200px;
    background: white;
    box-shadow: 0 20px 40px -20px rgba(0,0,0,.3);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
}
.container > .text-carousel-left > .header > .header-image {
    background: #007fe0;
    box-shadow: 0px 20px 40px -20px #007fe0;
}
.container > .btn-prev,
.container > .btn-next{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 25px;
    color: #b5b5b5;
    border: 1px solid #b5b5b5;
    transition: color .3s ease-in-out, border .5s ease-in;
    cursor: pointer;
}
.container > .btn-prev {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
}
.container > .btn-next {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-85%, -50%);
}
.container > .btn-prev:hover,
.container > .btn-next:hover {
    border-color: #007fe0;
    color: #007fe0;
}