body {
  background: deepskyblue;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0 20px 40px -20px rgba(0,0,0,.2);
    -moz-box-shadow: 0 20px 40px -20px rgba(0,0,0,.2);
    -o-box-shadow: 0 20px 40px -20px rgba(0,0,0,.2);
    box-shadow: 0 20px 40px -20px rgba(0,0,0,.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
}
span {
  background: blue;
  
}
  .btn {
    position: absolute;
    padding: 15px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-family: sans-serif;
    border: 2px solid transparent;
    cursor: pointer;
    background: none;
}
.btn-new {
  border-color: red;
  color: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: red;
  z-index: 1;
}
.btn-new .right {
  width: 50%;
  height: 100%;
/*  border: 1px solid green;*/
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: all .5s ease;
}
.btn-new .right span:nth-child(1) {
  width: 20px;
  height: 4px;
  position: absolute;
  border-radius: 8px;
  right: 0;
  top: 10%;
  transform: rotate(-35deg);
  transition: all .5s ease;
  z-index: -1;
  opacity: 0;
}
.btn-new:hover .right span:nth-child(1) {
    right: -100%;
    top: -60%;
    opacity: 1;
}
.btn-new .right span:nth-child(2) {
  width: 20px;
  height: 4px;
  background: blue;
  position: absolute;
  border-radius: 8px;
  right: 0;
  top: 45%;
  transition: all .5s ease;
  opacity: 0;
}
.btn-new:hover .right span:nth-child(2) {
    right: -100%;
/*    top: -60%;*/
    opacity: 1;
}
.btn-new .right span:nth-child(3) {
  width: 20px;
  height: 4px;
  background: blue;
  position: absolute;
  border-radius: 8px;
  right: 0;
  top: 90%;
  transform: rotate(35deg);
  transition: all .5s ease;
  opacity: 0;
}
.btn-new:hover .right span:nth-child(3) {
    right: -100%;
    top: 140%;
    opacity: 1;
}
.btn-new .left {
  width: 50%;
  height: 100%;
/*  border: 1px solid green;*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s ease;
}
.btn-new .left span:nth-child(1) {
  width: 20px;
  height: 4px;
  position: absolute;
  border-radius: 8px;
  left: 0;
  top: 10%;
  transform: rotate(35deg);
  transition: all .5s ease;
  z-index: -1;
  opacity: 0;
}
.btn-new:hover .left span:nth-child(1) {
    left: -100%;
    top: -60%;
    opacity: 1;
}
.btn-new .left span:nth-child(2) {
  width: 20px;
  height: 4px;
  background: blue;
  position: absolute;
  border-radius: 8px;
  left: 0;
  top: 45%;
  transition: all .5s ease;
  opacity: 0;
}
.btn-new:hover .left span:nth-child(2) {
    left: -100%;
/*    top: -60%;*/
    opacity: 1;
}
.btn-new .left span:nth-child(3) {
  width: 20px;
  height: 4px;
  background: blue;
  position: absolute;
  border-radius: 8px;
  left: 0;
  top: 90%;
  transform: rotate(-35deg);
  transition: all .5s ease;
  opacity: 0;
}
.btn-new:hover .left span:nth-child(3) {
    left: -100%;
    top: 140%;
    opacity: 1;
}