body {
    background: deepskyblue;
    margin: 0;padding: 0;
}
.container {
    width: 400px;
    height: 530px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 20px 40px -20px rgba(0,0,0,0.2);
    background: #fff;
    cursor: pointer;
    overflow: hidden;
}
.container img {
    width: 100%;
    height: 100%;
}
.container .text {
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 2.6em;
    font-family: 'Roboto Condensed', sans-serif;
    list-style: none;
}
.container .text:before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0%;
    background: rgba(35, 11, 37, 0.53);
    transition: width .3s;
}
.container:hover .text:before {
    width: 100%;
}
.container:hover .text li {
    transform: rotateX(0deg);
}
.container .text li {
    float: left;
    padding: 4.68px;
    transform-origin: bottom;
    transform: perspective(1000px) rotateX(90deg);
    transition: 1s linear.3s;
    color: white;
}
.container .text li:nth-child(1) {
    transition-delay: .0s
}
.container .text li:nth-child(2) {
    transition-delay: .2s;
}
.container .text li:nth-child(3) {
    transition-delay: .4s;
}
.container .text li:nth-child(4) {
    transition-delay: .6s;
}
.container .text li:nth-child(5) {
    transition-delay: .8s;
}
.container .text li:nth-child(6) {
    transition-delay: 1s;
}
.container .text li:nth-child(7) {
    transition-delay: 1.2s;
}
.container .text li:nth-child(8) {
    transition-delay: 1.4s;
}
.container .text li:nth-child(9) {
    transition-delay: 1.6s;
}
.container .text li:nth-child(10) {
    transition-delay: 1.8s;
}
.container .text li:nth-child(11) {
    transition-delay: 2s;
}
.container .text li:nth-child(12) {
    transition-delay: 2.2s;
}
.container .text li:nth-child(13) {
    transition-delay: 2.4s;
}
.container .text li:nth-child(14) {
    transition-delay: 2.6s;
}
.container .icons {
    width: 60px;
    margin: 0;
    padding: 0;
    height: 240;
/*    background: rgba(0,0,0,0.2);*/
    position: absolute;
    top: 0;
    text-align: center;
    list-style: none;
}
.icons li{
    height: 50px;
    width: 60px;
/*    background: red;*/
    line-height: 50px;
    font-size: 2em;
    position: relative;
    right: 100%;
    transition: .5s;
}
.icons li a:hover{
    color: #262626;
}
.icons li a{
    color: rgba(0,0,0,.2);
    transition: .3s;
}
.container:hover .icons li {
    right: 0;
}
.container .icons li:nth-child(1) {
    transition-delay: 0s;
}
.container .icons li:nth-child(2) {
    transition-delay: .1s;
}
.container .icons li:nth-child(3) {
    transition-delay: .2s;
}
.container .icons li:nth-child(4) {
    transition-delay: .3s;
}