body {
    background-color:dodgerblue;
}
.container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('bg.jpg');
    background-size: cover;
    border-radius: 4px;
    color: gray;
    box-shadow: 0 20px 40px -20px rgba(0,0,0,.2);
    overflow: hidden;
}
.container:hover {
/*    cursor: none;*/
}
.container .snow {
    width: 100%;
    font-size: 30px;
    position: absolute;
    top: -105px;
}
.container .snow i {
    position: relative;
}
/*    ظبقه اول*/
.container:hover i:nth-child(1) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.3s;
}
.container:hover i:nth-child(2) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.8s;
}
.container:hover i:nth-child(3) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.9s;
}
.container:hover i:nth-child(4) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1s;
}
.container:hover i:nth-child(5) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.2s;
}
.container:hover i:nth-child(6) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.7s;
}
.container:hover i:nth-child(7) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.3s;
}
.container:hover i:nth-child(8) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: .4s;
}
.container:hover i:nth-child(9) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.9s;
}
.container:hover i:nth-child(10) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1.2s;
}
.container:hover i:nth-child(11) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: .3s;
}
.container:hover i:nth-child(12) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: 1.5s;
}
.container:hover i:nth-child(13) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: 1.9s;
}
.container:hover i:nth-child(14) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: 1.6s;
}
.container:hover i:nth-child(15) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: 1.1s;
}
.container:hover i:nth-child(16) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: 1.3s;
}
.container:hover i:nth-child(17) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
}
.container:hover i:nth-child(18) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.6s;
}
/*    طبفه دوم*/
.container:hover i:nth-child(19) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1s;
}
.container:hover i:nth-child(20) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.3s;
}
.container:hover i:nth-child(21) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.7s;
}
.container:hover i:nth-child(22) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.2s;
}
.container:hover i:nth-child(23) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.9s;
}
.container:hover i:nth-child(24) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.1s;
}
.container:hover i:nth-child(25) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.3s;
}
.container:hover i:nth-child(26) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1s;
}
.container:hover i:nth-child(27) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1s;
}
.container:hover i:nth-child(28) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1s;
}
.container:hover i:nth-child(29) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: 0.0s;
}
.container:hover i:nth-child(30) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1s;
}
.container:hover i:nth-child(31) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.9s;
}
.container:hover i:nth-child(32) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: .5s;
}
.container:hover i:nth-child(33) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.3;
}
.container:hover i:nth-child(34) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.3s;
}
.container:hover i:nth-child(35) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1.1s;
}
.container:hover i:nth-child(36) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.4s;
}
/*    طبقه سوم*/
.container:hover i:nth-child(37) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: .3s;
}
.container:hover i:nth-child(37) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: .8s;
}
.container:hover i:nth-child(38) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.3s;
}
.container:hover i:nth-child(39) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1s;
}
.container:hover i:nth-child(40) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
}
.container:hover i:nth-child(41) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: .3s;
}
.container:hover i:nth-child(42) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1s;
}
.container:hover i:nth-child(43) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.1s;
}
.container:hover i:nth-child(44) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.9s;
}
.container:hover i:nth-child(45) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.3s;
}
.container:hover i:nth-child(46) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1s;
}
.container:hover i:nth-child(47) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.4s;
}
.container:hover i:nth-child(48) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1.5s;
}
.container:hover i:nth-child(49) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.3s;
}
.container:hover i:nth-child(50) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: .3s;
}
.container:hover i:nth-child(51) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.6s;
}
.container:hover i:nth-child(52) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -1s;
}
.container:hover i:nth-child(53) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.1s;
}
.container:hover i:nth-child(54) {
    color: deepskyblue;
    animation: first-snow 5s linear infinite;
    animation-delay: -.3s;
}

@keyframes first-snow {
    0% {
        top: 0px
    }
    50% ,100%{
        top: 400px;
        opacity: 0.6;
    }
}
.text {
    width: 100%;
    height: 50px;
/*    color: #fff;*/
    background: #1eb1fc;
    position: absolute;
    left: 100%;
    transition: all .5s ease;
}
.container:hover .text {
    left: 0;
    
}
.cover {
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.1);
    position: absolute;
    right: 100%;
    transition: all .9s ease;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: #fff;
}
.container:hover .cover {
    right: 0;
}
.cover:hover {
    background: none;
}