body {
    margin: 0;
    background: #eee;
}
.container {
    width: 100%;
    background: #4a4a4a;
    display: flex;
    flex-wrap: wrap;
}
.cover {
    width: 25%;
    padding: 22px;
    margin: auto;
}
.image {
    perspective: 1000px;
    background: white;
    box-shadow: 0 20px 40px -20px rgba(0,0,0,.2);
    width: 100%;
    height: 300px;
    position: relative;
    transition: .5s;
    
    transform-style: preserve-3d;
    cursor: pointer;
}
.cover-in {
    width: 100%;
    height: 100%;
}
.cover-in:hover .image {
    transform: rotateY(180deg);
}
.text {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    background: #fff;
}
.text h3 {
    text-align: center;
    font-size: 3em;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    position: absolute;
    width: 100%;
}
.text .icons {
    position: absolute;
    list-style: none;
    padding: 0;
    bottom: 0;
    margin: 0;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.text .icons li {
    float: left;
    width: 25%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.5em;
    perspective: 1000px;
    transform: rotateX(90deg);
    transform-origin: bottom;
    transition: 1s;
}
.text .icons li:nth-child(1) {
    transition-delay: 0s;
}
.text .icons li:nth-child(2) {
    transition-delay: .2s;
}
.text .icons li:nth-child(3) {
    transition-delay: .4s;
}
.text .icons li:nth-child(4) {
    transition-delay: .6s;
}
.text:hover .icons li {
    transform: rotateX(0);
}
.text .icons li a{
    color: #262626;
    transition: .3s;
}
.text .icons li a:hover{
    color: black;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.4);
}
.btn-download {
    width: 50%;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid deepskyblue;
    background: rgba(0, 226, 255, 0.25);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    transition: .3s;
    cursor: pointer;
}
.btn-download:hover {
    color: deepskyblue;
    background: #4a4a4a;
    border: 2px solid transparent;
}
.a {
/*    background: #2ecc71;*/
    background: url(image%201.jpg);
    background-size: cover;
}
.b {
    background: #f1c40f;
}
.c {
    background: #3498db;
}
.d {
    background: #c0392b;
}
.d {
    background: #9b59b6;
}
.e {
    background: #34495e;
}
.f {
    background: #1abc9c;
}
.g {
    background: #bdc3c7;
}
.h {
    background: #e67e22;
}
.j {
    background: #2980b9;
}

@media (max-width: 1100px) {
  .cover {
    width: 40%;
    padding: 20px;
    margin: 0;
    left: 5%;
    position: relative
  }
}
@media (max-width: 670px) {
    .cover {
        width: 100%;
        position: inherit;
        left: 0;
    }
}
@media (max-width: 300px) {
.btn-download {
    font-size: 20px;
}
}
.hr {
    width: 100%;
    height: 2px;
    background: rgba(0,0,0,.1);
    border: none;
    display: none;
}

/*
@media (max-width: 670px){
    .hr {
        display: block !important;
    }
}
@media (max-width: 1100px) {
  .hr {
    display: block !important;
  }
}
*/
