body{
    background: #eee;
}
.container {
    width: 1200px;
    height: 1200px;
    background: #fff;
    margin: auto;
}
.gallery{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 16px;
    transition: all .5s;
}
.top-box {
    width: 100%;
    height: 0%;
    background: rgba(0,0,0,0.2);
    transition: all .5s;
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
    text-decoration: none;
    
}
.box:hover .top-box{
    height: 100%;
}

.btn{
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 8px;
    border: 1px solid #848484;
    color: #1eb1fc;
    transition: all .5s;
    cursor: pointer;
    opacity: 1;
}
a {
    text-decoration: none;
}
.btn:hover {
    background: #1eb1fc;
    color: #fff;
    border-color: #1eb1fc;
}
/*style for bottom */
.buttom-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.box:hover .buttom-box{
    height: 100%;
}

/*style for right*/
.right-box {
    position: absolute;
    background: rgba(0,0,0,0.2);
    transition: .5s ease;
    overflow: hidden;
    bottom: 0;
    left: 100%;
    right: 0;
    height: 100%;
    width: 0;
}
.box:hover .right-box{
    width: 100%;
    left: 0;
}
/*style for left*/
.left-box {
    position: absolute;
    background: rgba(0,0,0,0.2);
    transition: .5s ease;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 100%;
    width: 0;
}
.box:hover .left-box{
    width: 100%;
    right: 0;
}

/*style for box opacity*/
.opacity-box {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;
    transition: .5s ease;
}
.image-o{
    transition: .3s ease;
}
.box:hover .image-o {
    opacity: 0.3;
}
/*style for background change*/
.background-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    background-color: #e6e6e6;
}
.box:hvoer .background-box {
/*   animation: first .5s linear infinite; 
    */
    opacity: 1;
}
@keyframes first {
    0% {
    background: none;
    }
    50% {
        background: red;
    }
    100% {
        background: green
    }
}