body {
    background: deepskyblue;
    margin: 0;
}
.container {
    width: 400px;
    height: 280px;
    background: rgba(255, 255, 255, 0.12);
    border: 4px double rgba(204, 204, 204, 0.84);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    cursor: pointer;
    transition: border .5s linear
}
.container:before {
    content: '';
    background: rgba(0, 0, 0, 0.28);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 100%;
    transition: bottom .3s ease-in-out .5s;
}
.container:hover:before {
    bottom: 0%;
}
.container > img {
    width: 100%;
    height: 100%;
}
.container > .text-title,
.container > .text-footer {
    position: absolute;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.92);
    text-align: center;
    line-height: 50px;
    font-family: 'Cabin', sans-serif;
}
.container > .text-title > h3,
.container > .text-footer > h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    color: #242424;
}
.container > .text-title {
    bottom: 0;
    transition: bottom .5s linear, opacity .3s linear;
}
.container > .text-footer {
    bottom: -55px;
    transition: bottom .5s linear, opacity .3s linear;
}
.container:hover .text-title {
    bottom: 50px;
}
.container:hover .text-footer {
    bottom: 0;
}
.container > .text-title:hover {
    opacity: 0.7;
}
.container > .text-footer:hover {
    opacity: 0.7;
}
.container:hover {
    border-color: rgba(74, 74, 74, 0.62);
}
.icons {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 2;
    list-style-type: none;
    width: 60%;
    transform: translateX(-50%);
    left: 50%;
}
.icons > li {
    float: left;
    width: 25%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
    position: relative;
    top: -55px;
    transition: top .4s;
    -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -ms-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.icons > li:nth-child(1) {
    transition-delay: .8s;
}
.icons > li:nth-child(2) {
    transition-delay: .7s;
}
.icons > li:nth-child(3) {
    transition-delay: .7s;
}
.icons > li:nth-child(4) {
    transition-delay: .8s;
}
.container:hover .icons li {
    top: 0;
}
.icons > li > a {
    color: #4a4a4a;
    transition: .3s linear;
}
.icons > li > a:hover {
    color: #ffffff;
}
.btn-download {
    width: 40%;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    font-size: 1.5em;
    font-family: 'Francois One', sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 4;
    color: #ff8900;
    border: 3px solid #ffbd7c;
    transition: all .5s;
    -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
    -ms-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.btn-download:hover {
    border: 1px solid #ffbd7c;
/*    text-shadow: 1px 2px 4px;*/
    font-size: 1.2em
}
.container:hover .btn-download {
    transform: translate(-50%, -50%) scale(1);
}